body{
    width: 450px;
    height: 360px;
    margin-left: 400px;
    margin-top: 200px;
}
.heading{
    width: 432px;
    text-align: center;
    height: 40px;
   
}
.info1{
    border: 1px solid black;
    width: 420px;
    padding-left: 10px;
}
.image{
    height: 200px;
    width: 400px;
}
.info{
    width: 432px;
    margin-bottom: 10px;
}
table,tr,td{
    border-collapse: collapse;
    margin-top: 10px;
    border: 2px solid black;
    text-align: center;
}
a{
    text-decoration: none;
}